body {
    background-color: #535B52;
    font-family: Arial, sans-serif;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1, h2 {
    color: #94DACC;
}

.sign-In {
    color: white;
    background-color: #2C8996;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    top: 20px;
    right: 30px;
    border-radius: 4px;
    border: 2px solid white;
   
}


h3{
    text-align: center;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: #94DACC;
    font-size: 1.5em;
    transition: color 0.3s;
}

a.sign-In {
    text-decoration: none;
    color:white;
    transition: color 0.3s;
    font-size: 1em;
}

a:hover {
    color: #76b1a9;
}

.container {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a {
    margin: 10px 0;
}


.welcome-image {
    max-width: 500px;
    margin-bottom: 50px;
    margin-left: 1px;
}


.sidebar {
    height: 90%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    margin-left: 60px;

}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #2C8996;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

.sidebar .section {
    background-color: #2C8996;
    color: white;
    padding: 10px 32px;
    font-size: 15px;
    margin-bottom: 10px;
    font-family: Times New Roman;
}